body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f4;
    background-image: url(/img/3086.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.login-container {

    display: flex;
    width: 500px;
    height: 350px; /* Fixed height */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 30px;
    overflow: hidden;
}

.login-left, .login-right {
    width: 50%; /* Each section takes half the space */
 
    

}

.login-left h1 {
    font-size: 30px; /* Adjust this size as needed */
    font-weight: bold;
    color: #f4f4f4;
}


.login-left{


    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(49, 36, 59);
    padding: 20px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;

}

.login-right{

    display: flex;
    background: rgb(255, 255, 255);
    align-items: center; 
    justify-content: center;
    padding: 60px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;


}

form {
    display: flex;
    flex-direction: column;
    width: 100%; /* Ensures form takes full width */

}

